<template>
    <div>
        
        <h1>Clan Members</h1>

        <table v-if="items.length" class="table">
            <thead>
            <tr>
                <th>Tag</th>
                <th>Name</th>
                <th>Role</th>
                <th>ExpLevel</th>
                <th>Troops</th>
                <th>Spells</th>
                <th>Heroes</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items">
                <td>{{ item.tag }}</td>
                <td><a :href="'../players/' + item.tag.replace(/#/g, '')">{{ item.name }}</a></td>
                <td>{{ item.role }}</td>
                <td>{{ item.expLevel }}</td>
                <td>{{ item.troopLevel / item.troopMaxLevel }}</td>
                <td>{{ item.spellLevel / item.spellMaxLevel }}</td>
                <td>{{ item.heroesLevel / item.heroesMaxLevel }}</td>
            </tr>
            </tbody>
        </table>

    </div>
</template>

<script src="./members.ts"></script>
